.box-pix-transferens-value{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.box-pix-choose{
  font-size: 12px;
  margin-left: 10px;
}
.input-pix-transferens{
  margin-left: 26px;
  border: 0px;
  width: 16px;
  height: 16px;
}
